{% extends 'base.html.twig' %}

{% block body %}

	<br> <br> <br>

<div class="container">
  <h2>URL Builder </h2>
  <p>Welcome to url Builder variable manager </p>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home">Vehicles</a></li>
    <li><a href="#menu1">Countries</a></li>
    <li><a href="#menu2">Audience</a></li>
    <li><a href="#menu3">Product Category</a></li>
    <li><a href="#menu4">Brand</a></li>
    <li><a href="#menu5">Context</a></li>
    <li><a href="#menu6">Campaign Goal</a></li>
    <li><a href="#menu7">Communication Medium</a></li>
    <li><a href="#menu8">Source</a></li>
    <li><a href="#menu9">Url Address</a></li>
    <li><a href="#menu10">ConfID</a></li>


    
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    		
    <table class="table table-striped" col-md-4">
	  <thead> 
		  <tr> 
			  
			  <th>Vehicles</th>
			  <th>Value</th>	
			  <th>
			   <a href="/crud/create/Vehicle" class="btn btn-primary">Create  
			   <span class="glyphicon glyphicon-new-window"></span> </a> 
			  
		  	 </th>		   
	  		</tr> 
	  </thead>
	  <tbody>
	  	{% for Vehicles in Vehicle %}
		  <tr> 
		  	<td> {{ Vehicles.Vehicle }}</td>
		  	<td> {{ Vehicles.Vehicle }}
		  		
		  		</td>
		  	<td>
				  	<a href="/crud/edit/{{ Vehicles.id }}/Vehicle" title="Edit">
		          		<span class="glyphicon glyphicon-edit"></span>
		        	</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
			  	<a href="/crud/delete/{{ Vehicles.id }}/Vehicle" title="Remove">
	          		<span class="glyphicon glyphicon-remove"></span>
	        	</a>
			 </td>		  	
		  </tr>
		{% endfor %}
	 </tbody>
	</table>

    </div>
    <div id="menu1" class="tab-pane fade">
      
     <table class="table table-striped" col-md-4">
	  <thead> 
		  <tr>			  
			  <th>Countries</th>
			  <th>Value</th>	
			  <th>
				  
				  	<a href="/crud/create/Country" class="btn btn-primary">Create
				  	<span class="glyphicon glyphicon-new-window"></span> </a>  
			  	 
		  	 </th>

  		</tr> 
	  </thead>
	  <tbody>
	  	{% for countries in country %}
		  <tr> 
		  	<td> {{ countries.Country }}
		  	</td>
		  		<td> {{ countries.Value }}
		  		
		  		</td>
		  		<td>
				  	<a href="/crud/edit/{{ countries.id }}/Country" title="Edit">
		          		<span class="glyphicon glyphicon-edit"></span>
		        	</a>
			  		&nbsp;&nbsp;&nbsp;&nbsp;
			  		&nbsp;&nbsp;&nbsp;&nbsp;
				  	<a href="/crud/delete/{{ countries.id }}/Country" title="Remove">
		          		<span class="glyphicon glyphicon-remove"></span>
		        	</a>
			  	</td>

		  	 	
		  </tr>
		{% endfor %}		
		  
		
	 </tbody>
	</table>

    </div>

    <div id="menu2" class="tab-pane fade">

	     <table class="table table-striped" col-md-4">
		  <thead> 
			  <tr>			  
				  <th>Audience</th>
				  	<th>Value</th>
					  <th>
						  
						  	<a href="/crud/create/Audience" class="btn btn-primary">Create
						  	<span class="glyphicon glyphicon-new-window"></span> </a> 
					  	
				  	 </th>		   
		  		</tr> 
		  </thead>
		  <tbody>
		  	{% for audiences in audience %}
			  <tr> 
			  	<td> {{ audiences.Audience }}
			  	</td>
				  	<td> {{ audiences.Value }}
			  		
			  		</td>
			  		<td>
					  	<a href="/crud/edit/{{ audiences.id }}/Audience" title="Edit">
			          		<span class="glyphicon glyphicon-edit"></span>
			        	</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
					  	<a href="/crud/delete/{{ audiences.id }}/Audience" title="Remove">
			          		<span class="glyphicon glyphicon-remove"></span>
			        	</a>
				  	</td>

			  	 	
			  </tr>
			{% endfor %}
		 </tbody>
		</table>
    </div>

    <div id="menu3" class="tab-pane fade">
      
      <table class="table table-striped" col-md-4">
		  <thead> 
			  <tr>			  
				  <th>Product Category</th>
				  <th>Value</th>	
					  <th>
						  
						  	<a href="/crud/create/ProductCategory" class="btn btn-primary">Create 
						  	<span class="glyphicon glyphicon-new-window"></span> </a>
					  	 
				  	 </th>		   
		  		</tr> 
		  </thead>
		  <tbody>
		  	{% for product_categories in product_category %}
			  <tr> 
			  	<td> {{ product_categories.ProductCategory }}
			  	</td>
			  		<td> {{ product_categories.ProductCategory }}
		  		
		  			</td>
			  		<td>
					  	<a href="/crud/edit/{{ product_categories.id }}/ProductCategory" title="Edit">
			          		<span class="glyphicon glyphicon-edit"></span>
			        	</a>
				  		&nbsp;&nbsp;&nbsp;&nbsp;
				  		&nbsp;&nbsp;&nbsp;&nbsp;
					  	<a href="/crud/delete/{{ product_categories.id }}/ProductCategory" title="Remove">
			          		<span class="glyphicon glyphicon-remove"></span>
			        	</a>
				  	</td>

			  	 	
			  </tr>
			{% endfor %}
		 </tbody>
		</table>

    </div>
    <div id="menu4" class="tab-pane fade">
      
      <table class="table table-striped" col-md-4">
		  <thead> 
			  <tr>			  
				  <th>Brand</th>
				  <th>Value</th>	
					  <th>
						 
						  	<a href="/crud/create/Brand" class="btn btn-primary">Create
						  	<span class="glyphicon glyphicon-new-window"></span> </a> 
					  	 
				  	 </th>		   
		  		</tr> 
		  </thead>
		  <tbody>
		  	{% for brands in brand %}
			  <tr> 
			  	<td> {{ brands.Brand }}
			  	</td>
			  		<td> {{ brands.Value }}
		  		
		  			</td>
			  		<td>
					  	<a href="/crud/edit/{{ brands.id }}/Brand" title="Edit">
			          		<span class="glyphicon glyphicon-edit"></span>
			        	</a>
				  		&nbsp;&nbsp;&nbsp;&nbsp;
				  		&nbsp;&nbsp;&nbsp;&nbsp;
					  	<a href="/crud/delete/{{ brands.id }}/Brand" title="Remove">
			          		<span class="glyphicon glyphicon-remove"></span>
			        	</a>
				  	</td>

			  	  	
			  </tr>
			{% endfor %}
		 </tbody>
		</table>

    </div>
    <div id="menu5" class="tab-pane fade">
      
      <table class="table table-striped" col-md-4">
		  <thead> 
			  <tr>			  
				  <th>Context</th>
				  <th>Value</th>	
					  <th>
						  
						  	<a href="/crud/create/Context" class="btn btn-primary">Create
						  	<span class="glyphicon glyphicon-new-window"></span>  </a>
					  	 
				  	 </th>		   
		  		</tr> 
		  </thead>
		  <tbody>
		  	{% for contexts in context %}
			  <tr> 
			  	<td> {{ contexts.Context }}
			  	</td>
			  		<td> {{ contexts.Context }}
		  		
		  			</td>
			  		<td>
					  	<a href="/crud/edit/{{ contexts.id }}/Context" title="Edit">
			          		<span class="glyphicon glyphicon-edit"></span>
			        	</a>
				  		&nbsp;&nbsp;&nbsp;&nbsp;
				  		&nbsp;&nbsp;&nbsp;&nbsp;
					  	<a href="/crud/delete/{{ contexts.id }}/Context" title="Remove">
			          		<span class="glyphicon glyphicon-remove"></span>
			        	</a>
				  	</td>

			  	  	
			  </tr>
			{% endfor %}
		 </tbody>
		</table>

    </div>
    <div id="menu6" class="tab-pane fade">
      
      <table class="table table-striped" col-md-4">
		  <thead> 
			  <tr>			  
				  <th>Campaign Goal</th>
				  <th>Value</th>	
					  <th>
						   
						  	<a href="/crud/create/CampagnGoal" class="btn btn-primary">Create
						  	<span class="glyphicon glyphicon-new-window"></span>  </a>
					  	 
				  	 </th>		   
		  		</tr> 
		  </thead>
		  <tbody>
		  	{% for campagn_goals in campagn_goal %}
			  <tr> 
			  	<td> {{ campagn_goals.CampagnGoal }}
			  	</td>
			  		<td> {{ campagn_goals.Value }}
		  		
		  			</td>
			  		<td>
					  	<a href="/crud/edit/{{ campagn_goals.id }}/CampagnGoal" title="Edit">
			          		<span class="glyphicon glyphicon-edit"></span>
			        	</a>
			        	&nbsp;&nbsp;&nbsp;&nbsp;
			        	&nbsp;&nbsp;&nbsp;&nbsp;
					  	<a href="/crud/delete/{{ campagn_goals.id }}/CampagnGoal" title="Remove">
			          		<span class="glyphicon glyphicon-remove"></span>
			        	</a>
				  	</td>

			  	  	
			  </tr>
			{% endfor %}
		 </tbody>
		</table>

    </div>
    <div id="menu7" class="tab-pane fade">
      
      <table class="table table-striped" col-md-4">
		  <thead> 
			  <tr>			  
				  <th>Communication Medium</th>
				  <th>Value</th>	
					  <th>
						  
						  	<a href="/crud/create/CommunicationMedium" class="btn btn-primary">Create
						  		<span class="glyphicon glyphicon-new-window"></span></a>  
					  	 
				  	 </th>		   
		  		</tr> 
		  </thead>
		  <tbody>
		  	{% for communication_mediums in communication_medium %}
			  <tr> 
			  	<td> {{ communication_mediums.CommunicationMedium }}
			  	</td>
			  		<td> {{ communication_mediums.Value }}
		  		
		  			</td>
			  		<td>
					  	<a href="/crud/edit/{{ communication_mediums.id }}/CommunicationMedium" title="Edit">
			          		<span class="glyphicon glyphicon-edit"></span>
			        	</a>
				  		&nbsp;&nbsp;&nbsp;&nbsp;
				  		&nbsp;&nbsp;&nbsp;&nbsp;
					  	<a href="/crud/delete/{{ communication_mediums.id }}/CommunicationMedium" title="Remove">
			          		<span class="glyphicon glyphicon-remove"></span>
			        	</a>
				  	</td>

			  	  	
			  </tr>
			{% endfor %}
		 </tbody>
		</table>

    </div>

     <div id="menu8" class="tab-pane fade">      
      <table class="table table-striped" col-md-4">
		  <thead> 
			  <tr>			  
				  <th>Source</th>
				  <th>Value</th>
				  <th>
					  
					  	<a href="/crud/create/Source" class="btn btn-primary">Create 
					  		<span class="glyphicon glyphicon-new-window"></span></a>  
				  	 
			  	 </th>
			  	   
		  	  </tr> 
		  </thead>
		  <tbody>
		  	{% for sources in source %}
			  <tr> 
			  	<td> {{ sources.Source }}
			  	</td>
			  		<td> {{ sources.Source }}
		  		
		  			</td>
			  		<td>
					  	<a href="/crud/edit/{{ sources.id }}/Source" title="Edit">
			          		<span class="glyphicon glyphicon-edit"></span>
			        	</a>
				  		&nbsp;&nbsp;&nbsp;&nbsp;
				  		&nbsp;&nbsp;&nbsp;&nbsp;
					  	<a href="/crud/delete/{{ sources.id }}/Source" title="Remove">
			          		<span class="glyphicon glyphicon-remove"></span>
			        	</a>
				  	</td>			  	  	
			  </tr>
			{% endfor %}
		 </tbody>
		</table>
    </div>

    <div id="menu9" class="tab-pane fade">      
      <table class="table table-striped" col-md-4">
		  <thead> 
			  <tr>			  
				  <th>Url</th>				  
				  <th>
					  
					  	<a href="/crud/create/UrlAdress" class="btn btn-primary">Create 
					  		<span class="glyphicon glyphicon-new-window"></span></a>  
				  	 
			  	 </th>
			  	   
		  	  </tr> 
		  </thead>
		  <tbody>
		  	{% for adress in urlAdress %}
			  <tr> 
			  	<td> {{ adress.UrlAdress }}
			  	</td>			  		
			  		<td>
					  	<a href="/crud/edit/{{ adress.id }}/UrlAdress" title="Edit">
			          		<span class="glyphicon glyphicon-edit"></span>
			        	</a>
				  		&nbsp;&nbsp;&nbsp;&nbsp;
				  		&nbsp;&nbsp;&nbsp;&nbsp;
					  	<a href="/crud/delete/{{ adress.id }}/UrlAdress" title="Remove">
			          		<span class="glyphicon glyphicon-remove"></span>
			        	</a>
				  	</td>			  	  	
			  </tr>
			{% endfor %}
		 </tbody>
		</table>
    </div>

    <div id="menu10" class="tab-pane fade">
      
      <table class="table table-striped" col-md-4">
		  <thead> 
			  <tr>			  
				  <th>ConfiD</th>
				  <th>Code</th>	
					  <th>
						  
						  	<a href="/crud/create/createConfId" class="btn btn-primary">Create
						  		<span class="glyphicon glyphicon-new-window"></span></a>  
					  	 
				  	 </th>		   
		  		</tr> 
		  </thead>
		  <tbody>
		  	{% for confids in confid %}
			  <tr> 
			  	<td> {{ confids.value }}
			  	</td>
		  		<td> {{ confids.code }}		  		
	  			</td>
		  		<td>
				  	<a href="/crud/edit/{{ confids.id }}/CommunicationMedium" title="Edit">
		          		<span class="glyphicon glyphicon-edit"></span>
		        	</a>
			  		&nbsp;&nbsp;&nbsp;&nbsp;
			  		&nbsp;&nbsp;&nbsp;&nbsp;
				  	<a href="/crud/delete/{{ confids.id }}/CommunicationMedium" title="Remove">
		          		<span class="glyphicon glyphicon-remove"></span>
		        	</a>
			  	</td>

			  	  	
			  </tr>
			{% endfor %}
		 </tbody>
		</table>
    </div>

  </div>
</div>

{% endblock %}
